songs/phonk/combined/*.mp3
songs/phonk/raw/*.mp3
songs/lofi/combined/*.mp3
songs/lofi/raw/*.mp3

# Logs
fronted/logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

colors

venv

postgres-data